:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  padding: 0 50px;
  position: relative;
}

h1 > a {
  font-weight: inherit;
  color: inherit;
  padding: 10px 30px;
}

h1 > a:hover {
  color: inherit;
  opacity: 100%;
}

h1 svg {
  height: 50px;
  width: auto;
  margin-left: 10px;
  vertical-align: bottom;
}

a {
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: inherit;
}
a:hover {
  color: lightsteelblue;;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  padding: 2rem;
  text-align: center;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.about-link {
  position: absolute;
  bottom: 20px;
  right: 5%;
}

.about-page p {
  text-align: left;
}

.recipe-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  border: 1px solid white;
}

.recipe-step + .recipe-step {
  border-top: none;
}

.recipe-step li {
  padding: 0px 8px
}
.actions li {
  list-style: none;
}

.actions li + li{
  padding-top: 1em
}

.recipe-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, max-content));
  justify-content: center;
  gap: 1px; /* This works with "outline" in the children to stop double borders */
}

.recipe-link {
  text-align: center;
  display: inline-block;
  width: 172px;
  height: 92px;
  line-height: 92px;
  outline: 1px solid white;
}
.recipe-link span {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
}

/* TODO add css themes, there's a fancy way of doing it */


.tips {
  text-align: left;
  margin-top: 80px;
}

.back-button {
  padding: 10px;
  position: absolute;
  top: -11px;
  left: 0;
  opacity: 60%;
}
.back-button svg {
  width: 40px;
}

.meta {
  text-align: right;
  margin-bottom: 20px;
}

.book-page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    white-space: break-spaces;
    text-align: left;
    color: #777;
    background: #000;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}
